MYSQL_DB_HOST=db
MYSQL_ROOT_HOST=%
MYSQL_ROOT_PASSWORD=magento2
MYSQL_DATABASE=magento2
MYSQL_USER=magento2
MYSQL_PASSWORD=magento2
INSTALL_SAMPLE_DATA=false

PLATFORM=magento2
PLATFORM_VERSION=2.4.2
MAGENTO_DB_HOST=db
ES_HOST=es
ES_PORT=9200
BASE_URL=magento2.localhost
MAGENTO_ADMIN_FRONTNAME=admin
MAGENTO_ADMIN_FIRST_NAME=Admin
MAGENTO_ADMIN_LAST_NAME=Developer
MAGENTO_ADMIN_EMAIL=dev@magebinary.com
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=admin123
MAGENTO_LOCALE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=America/New_York

LATITUDE_API_PUBLIC_KEY=
LATITUDE_API_PRIVATE_KEY=
LATITUDE_USER_EMAIL=
LATITUDE_USER_PASSWORD=

GENOAPAY_API_PUBLIC_KEY=
GENOAPAY_API_PRIVATE_KEY=
GENOAPAY_USER_EMAIL=
GENOAPAY_USER_PASSWORD=
