<?xml version="1.0" ?>
<!--
/**
 * Latitude Payment module
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <latitudepay>
                <active>1</active>
                <order_status>pending</order_status>
                <title>LatitudePay</title>
                <can_use_checkout>1</can_use_checkout>
                <payment_action>true</payment_action>
                <line_items_enabled>1</line_items_enabled>
                <group>offline</group>
                <currency>AUD</currency>
                <allowspecific>1</allowspecific>
                <specificcountry>AU</specificcountry>
                <installment_no>10</installment_no>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <success_url>latitude/latitude/placeorder</success_url>
                <call_back_url>latitude/latitude/cancel</call_back_url>
                <fail_url>latitude/latitude/fail</fail_url>
                <model>Latitude\Payment\Model\Payment\Latitude</model>
                <static_block_pdp>latitudepay-popup-content</static_block_pdp>
                <api_url_production>https://api.latitudepay.com/v3</api_url_production>
                <api_url_sandbox>https://api.uat.latitudepay.com/v3</api_url_sandbox>
                <show_in_mobile>1</show_in_mobile>
            </latitudepay>
            <genoapay>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Genoapay</title>
                <can_use_checkout>1</can_use_checkout>
                <payment_action>true</payment_action>
                <line_items_enabled>1</line_items_enabled>
                <group>offline</group>
                <currency>NZD</currency>
                <allowspecific>1</allowspecific>
                <specificcountry>NZ</specificcountry>
                <installment_no>10</installment_no>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <success_url>latitude/latitude/placeorder</success_url>
                <call_back_url>latitude/latitude/cancel</call_back_url>
                <fail_url>latitude/latitude/fail</fail_url>
                <model>Latitude\Payment\Model\Payment\Genoapay</model>
                <static_block_pdp>genoapay-popup-content</static_block_pdp>
                <api_url_production>https://api.genoapay.com/v3</api_url_production>
                <api_url_sandbox>https://api.uat.genoapay.com/v3</api_url_sandbox>
                <show_in_mobile>1</show_in_mobile>
            </genoapay>
        </payment>
    </default>
</config>